---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>july jagt - fullstack dev & data engineer</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="h-screen w-full flex items-center justify-center bg-gray-100">
      <div class="w-64 sm:w-96 text-gray-600">
        <h1 class="text-gray-600 font-bold">july jagt</h1>
        <p>fullstack dev</p>
        <p>data engineer</p>
        <p>
          <a href="mailto:jpjagt@pm.me" class="underline text-gray-600"
            >jpjagt@pm.me</a
          >
        </p>
        <p>
          <a href="https://twitter.com/jpjagt" class="underline text-gray-600"
            >@jpjagt</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
