---
import { ProjectPreview } from '@/components'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>july jagt - fullstack dev & data engineer</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="bg-gray-100">
      <div class="px-4 mx-auto text-gray-600 sm:max-w-xl md:max-w-3xl">
        <div class="h-32 sm:h-32"></div>

        <div class="w-full">
          <img
            src="/images/july.jpg"
            alt="an image of me, july"
            class="w-48 h-48 rounded-2xl inline-block"
          />
        </div>

        <div class="h-12"></div>

        <div class="flex flex-col sm:flex-row sm:items-center">
          <h1 class="font-bold text-black">july jagt</h1><span
            class="mx-2 hidden sm:inline-block">&bull;</span
          >
          <h2>
            fullstack dev, data engineer, designing &#123; ui's, lamps, jewelry
            &#125;
          </h2>
        </div>

        <div class="h-6"></div>

        <p>
          My goal in life is to help society and the natural world be the best
          version of itself by designing beautiful systems at the right level of
          complexity. I truly love to code, to be creative, and to work with
          passionate and intelligent people. Throughout my life, I have felt a
          deep caring, an intention of goodness, and an eagerness to learn,
          improve, and give back to the world.
        </p>

        <h3 class="header">projects</h3>

        <div class="space-y-8">
          <ProjectPreview
            name="thescraperfactory"
            url="https://thescraperfactory.com"
            img="thescraperfactory.jpg"
            start={2024}
            end="now"
          >
            Building LLM-powered web scraper factories, automating the process
            of data extraction from the web, with <a href="https://lodder.dev"
              >Paul Lodder</a
            >.
          </ProjectPreview>

          <ProjectPreview
            name="Partijplein"
            url="https://partijplein.nl"
            img="partijplein.png"
            start={2023}
          >
            An effort to improve accessibility to election programs for the 2023
            Dutch Elections by making them easily and semantically searchable in
            multiple languages using AI. Media coverage: <a
              href="https://nos.nl/collectie/13958/artikel/2498580-partijprogramma-s-makkelijker-te-begrijpen-dankzij-nieuwe-site"
              >NOS</a
            > & <a
              href="https://www.at5.nl/artikelen/223568/verkiezingsprogrammas-begrijpelijker-maken-met-kunstmatige-intelligentie"
              >AT5</a
            >. With <a href="https://khaledtamimy.nl/">Khaled Tamimy</a> & <a
              href="https://lodder.dev">Paul Lodder</a
            >.
          </ProjectPreview>

          <ProjectPreview
            name="zonopjebakkes"
            url="https://zonopjebakkes.nl"
            {/* img="zonopjebakkes.jpg" */}
            start={2022}
          >
            Frontend development for a webapp showing which terraces are in the
            sun near you throughout the Netherlands, with <a
              href="https://lodder.dev">Paul Lodder</a
            > & <a href="https://www.robschilder.com/">Rob Schilder</a>.
          </ProjectPreview>

          <ProjectPreview
            name="FXR"
            url="https://fxr-insights.com"
            start={2020}
            end={2024}
          >
            Data engineering and full-stack web dev for a startup designing
            scalable software to have creators gain insight and control of their
            royalty income.
          </ProjectPreview>

          <ProjectPreview
            name="Generation NOW"
            img="generation-now.jpg"
            start={2019}
            end={2020}
          >
            Full-stack web development for a carbon footprint reduction service
            with the mission of accelerating a cultural shift to fight back
            against climate change.
          </ProjectPreview>

          <ProjectPreview
            name="pochola gum"
            url="https://pocho.la"
            img="pochola.png"
            start={2021}
            end="now"
          >
            Designing and producing jewelry of polymer clay and aluminium.
          </ProjectPreview>

          <ProjectPreview
            name="primavera sí y sin"
            url="https://jpjagt.github.io/primavera-si-y-sin/"
            img="primavera-si-y-sin.jpg"
            start={2022}
          >
            I took pictures during the primavera festival in Barcelona and
            recreated those photos in the same spots half a year later. This
            website was a proposal to the organisers of the primavera festival
            to feature the project in the next edition.
          </ProjectPreview>
        </div>

        <h3 class="header">contact</h3>

        <p>
          email: <a href="mailto:jpjagt@pm.me" class="underline text-gray-600"
            >jpjagt@pm.me</a
          >
        </p>
        <p>
          twitter: <a
            href="https://twitter.com/jpjagt"
            class="underline text-gray-600">@jpjagt</a
          >
        </p>
        <div class="h-32"></div>
      </div>
    </div>
  </body>
</html>

<style>
  .header {
    @apply font-bold mt-10 mb-6 text-black;
  }

  a {
    @apply underline;
  }
</style>
