---
import { ProjectPreview } from '@/components'
import Main from '@/layouts/main.astro'
import Bull from '@/components/Bull.astro'
---

<Main>
  <div class="h-8 sm:h-32"></div>

  <div class="w-full flex justify-end pr-4 -ml-1.5">
    <img
      src="/images/july.jpg"
      alt="an image of july!"
      class="max-w-full w-40 md:w-64 h-auto rounded-2xl inline-block p-1.5 bg-white dark:bg-gray-800 border dark:border-gray-700"
    />
  </div>

  <div class="h-8 sm:h-12"></div>

  <div class="flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-0">
    <h1 class="font-semibold text-black dark:text-white text-lg">
      july jagt
    </h1><span class="mx-2 hidden sm:inline-block text-gray-400">&bull;</span>
    <h2>
      fullstack dev, data engineer, making &#123; ui's, lamps, jewelry, <a
        href="/pomegranate"
        class="link">music</a
      >
      &#125;
    </h2>
  </div>

  <div class="h-8 md:h-12"></div>

  <p class="mb-4">
    I <span>code</span>, design <span>creatively</span>, and work with
    <span>passionate and intelligent people</span>.
  </p>

  <p class="mb-4">
    Throughout my life, I have felt a deep caring, an intention of goodness, and
    an eagerness to learn, improve, and give back to the world. My goal in life
    is to help society and the natural world be the best versions of themselves
    by designing beautiful systems at the right level of complexity.
  </p>

  <p>And to have fun!</p>

  <div class="h-8 md:h-12"></div>

  <div class="flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-0">
    <p>
      <span class="font-semibold mr-2 sm:mr-1">mail</span>
      <a href="mailto:jpjagt@pm.me" class="link">jpjagt@pm.me</a>
    </p>

    <Bull />

    <p>
      <span class="font-semibold mr-2 sm:mr-1">x</span><a
        href="https://twitter.com/julymemo"
        class="link">@julymemo</a
      >
    </p>

    <Bull />

    <p>
      <span class="font-semibold mr-2 sm:mr-1">github</span><a
        href="https://twitter.com/jpjagt"
        class="link">@jpjagt</a
      >
    </p>
  </div>

  <h3 class="header">projects</h3>

  <div class="grid grid-cols-1 sm:grid-cols-1 gap-x-8 gap-y-16">
    <ProjectPreview
      name="social technology lab"
      url="https://socialtechnologylab.com"
      start={2024}
      end="now"
    >
      We are changemakers who believe that technology needs to be applied
      socially and ethically. We build technological applications in a
      thoughtful, selective, and human-centred way.
    </ProjectPreview>

    <ProjectPreview
      name="thescraperfactory"
      url="https://thescraperfactory.com"
      img="thescraperfactory.jpg"
      start={2024}
    >
      Building LLM-powered <span class="hilite">web scraper factories</span>,
      automating the process of data extraction from the web, with <a
        href="https://lodder.dev"
        class="link">Paul Lodder</a
      >.
    </ProjectPreview>

    <ProjectPreview
      name="partijplein.nl"
      url="https://partijplein.nl"
      img="partijplein.png"
      start={2023}
    >
      An effort to improve accessibility to election programs for the 2023 Dutch
      Elections by building <span class="hilite">semantic search</span> over their
      contents, in <span class="hilite">multiple languages</span>. Media
      coverage: <a
        href="https://nos.nl/collectie/13958/artikel/2498580-partijprogramma-s-makkelijker-te-begrijpen-dankzij-nieuwe-site"
        class="link">NOS</a
      > & <a
        href="https://www.at5.nl/artikelen/223568/verkiezingsprogrammas-begrijpelijker-maken-met-kunstmatige-intelligentie"
        class="link">AT5</a
      >. With <a href="https://khaledtamimy.nl/" class="link">Khaled Tamimy</a> &
      <a href="https://lodder.dev" class="link">Paul Lodder</a>.
    </ProjectPreview>

    <ProjectPreview
      name="zonopjebakkes.nl"
      url="https://zonopjebakkes.nl"
      start={2022}
    >
      <span class="hilite">Frontend development</span> for a webapp showing which
      terraces are in the sun near you throughout the Netherlands, with
      <a href="https://lodder.dev" class="link">Paul Lodder</a> & <a
        href="https://www.robschilder.com/"
        class="link">Rob Schilder</a
      >.
    </ProjectPreview>

    <ProjectPreview
      name="fxr"
      url="https://fxr-insights.com"
      start={2020}
      end={2024}
    >
      <span class="hilite">Data engineering</span> and <span class="hilite"
        >full-stack web dev</span
      > for a startup designing scalable software to have creators gain insight and
      control of their royalty income.
    </ProjectPreview>

    <ProjectPreview
      name="generation NOW"
      img="generation-now.jpg"
      start={2019}
      end={2020}
    >
      <span class="hilite">Full-stack web dev</span> for a carbon footprint reduction
      service with the mission of accelerating a cultural shift to fight back against
      climate change.
    </ProjectPreview>

    <ProjectPreview name="pochola gum" img="pochola.png" start={2021} end="now">
      <span class="hilite">Designing</span> and <span class="hilite"
        >producing</span
      > jewelry of polymer clay and aluminium.
    </ProjectPreview>

    <ProjectPreview
      name="primavera sí y sin"
      url="https://jpjagt.github.io/primavera-si-y-sin/"
      img="primavera-si-y-sin.jpg"
      start={2022}
    >
      I took <span class="hilite">pictures</span> during the primavera festival in
      Barcelona and recreated those photos in the same spots half a year later. This
      website was a proposal to the organisers of the primavera festival to feature
      the project in the next edition.
    </ProjectPreview>
  </div>
  <div class="h-32"></div>

  <div class="flex items-center justify-center">
    <pre
      class="text-gray-400 text-sm">
     _._
    (\!/)
  (((|||)))
 ((//'~`\\))
((!       !))
((. o   o .))
 ))   J   ((
 ( \  -  / )
   !`---'!
  /'     `\
</pre>
  </div>
  <div class="h-16"></div>
</Main>

<style>
  .header {
    @apply font-semibold text-lg mt-20 mb-6 text-black dark:text-white;
  }
</style>
