---
import '@/globals.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/kamali/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>op zoek naar kamali</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="w-screen h-screen flex flex-col items-center justify-center">
      <h1 class="font-rubik text-2xl">
        <span class="inline-block translate-y-[1px] rotate-[1deg] text-red-500"
          >o</span
        >
        <span
          class="inline-block -translate-y-[2px] rotate-[-1deg] text-blue-500"
          >p</span
        >
        <span class="inline-block translate-x-[1px] text-green-500"> </span>
        <span
          class="inline-block translate-y-[2px] rotate-[2deg] text-yellow-500"
          >z</span
        >
        <span
          class="inline-block -translate-x-[1px] rotate-[-2deg] text-purple-500"
          >o</span
        >
        <span class="inline-block translate-y-[1px] text-pink-500">e</span>
        <span
          class="inline-block -translate-y-[1px] rotate-[1deg] text-indigo-500"
          >k</span
        >
        <span class="inline-block translate-x-[2px] text-orange-500"> </span>
        <span
          class="inline-block translate-y-[2px] rotate-[-1deg] text-teal-500"
          >n</span
        >
        <span
          class="inline-block -translate-x-[1px] rotate-[2deg] text-cyan-500"
          >a</span
        >
        <span class="inline-block translate-y-[1px] text-lime-500">a</span>
        <span
          class="inline-block -translate-y-[2px] rotate-[-2deg] text-emerald-500"
          >r</span
        >
        <span class="inline-block translate-x-[1px] text-fuchsia-500"> </span>
        <span class="inline-block translate-y-[2px] rotate-[1deg] text-rose-500"
          >k</span
        >
        <span
          class="inline-block -translate-x-[1px] rotate-[-1deg] text-sky-500"
          >a</span
        >
        <span class="inline-block translate-y-[1px] text-amber-500">m</span>
        <span
          class="inline-block -translate-y-[1px] rotate-[2deg] text-violet-500"
          >a</span
        >
        <span
          class="inline-block translate-x-[2px] rotate-[-2deg] text-slate-500"
          >l</span
        >
        <span class="inline-block translate-y-[2px] text-stone-500">i</span>
      </h1>
      <p
        class="sm:hidden text-sm text-gray-500 mt-5 italic max-w-64 text-center font-rubik"
      >
        (deze webpagina wordt eigenlijk het liefste bekeken op een groot scherm)
      </p>
    </div>

    <img
      src="/kamali/ement j'axiste 1.jpg"
      alt="Ement J'axiste 1"
      class="w-full h-auto mb-12"
    />
    <img
      src="/kamali/ement j'axiste 2.jpg"
      alt="Ement J'axiste 2"
      class="w-full h-auto"
    />

    <img
      src="/kamali/kamali-phone.jpg"
      alt="Kamali Phone"
      class="w-full h-auto"
    />

    <img
      src="/kamali/ement j'axiste 3.jpg"
      alt="Ement J'axiste 3"
      class="w-full h-auto"
    />
    <img
      src="/kamali/ement j'axiste 4.jpg"
      alt="Ement J'axiste 4"
      class="w-full h-auto"
    />
    <img
      src="/kamali/ement j'axiste 5.jpg"
      alt="Ement J'axiste 5"
      class="w-full h-auto"
    />

    <div
      class="w-screen h-screen flex flex-col items-center justify-center sticky top-0"
    >
      <h2 class="font-rubik text-2xl">
        <span class="inline-block translate-y-[2px] rotate-[1deg] text-rose-500"
          >c</span
        >
        <span
          class="inline-block -translate-x-[1px] rotate-[-1deg] text-sky-500"
          >o</span
        >
        <span class="inline-block translate-y-[1px] text-amber-500">m</span>
        <span
          class="inline-block -translate-y-[1px] rotate-[2deg] text-violet-500"
          >m</span
        >
        <span
          class="inline-block translate-x-[2px] rotate-[-2deg] text-slate-500"
          >e</span
        >
        <span class="inline-block translate-y-[2px] text-stone-500">n</span>
        <span class="inline-block -translate-x-[1px] rotate-[1deg] text-red-500"
          >c</span
        >
        <span
          class="inline-block translate-y-[1px] rotate-[-1deg] text-blue-500"
          >e</span
        >
        <span class="inline-block translate-x-[1px] text-fuchsia-500"> </span>
        <span class="inline-block translate-y-[1px] rotate-[1deg] text-red-500"
          >l</span
        >
        <span
          class="inline-block -translate-y-[2px] rotate-[-1deg] text-blue-500"
          >a</span
        >
        <span class="inline-block translate-x-[1px] text-green-500"> </span>
        <span
          class="inline-block translate-y-[2px] rotate-[2deg] text-yellow-500"
          >r</span
        >
        <span
          class="inline-block -translate-x-[1px] rotate-[-2deg] text-purple-500"
          >e</span
        >
        <span class="inline-block translate-y-[1px] text-pink-500">c</span>
        <span
          class="inline-block -translate-y-[1px] rotate-[1deg] text-indigo-500"
          >h</span
        >
        <span class="inline-block translate-x-[2px] text-orange-500">e</span>
        <span
          class="inline-block translate-y-[2px] rotate-[-1deg] text-teal-500"
          >r</span
        >
        <span
          class="inline-block -translate-x-[1px] rotate-[2deg] text-cyan-500"
          >c</span
        >
        <span class="inline-block translate-y-[1px] text-lime-500">h</span>
        <span
          class="inline-block -translate-y-[2px] rotate-[-2deg] text-emerald-500"
          >e</span
        >
        <span class="inline-block -translate-y-[2px] text-green-500">.</span>
        <span
          class="inline-block translate-x-[1px] rotate-[2deg] text-yellow-500"
          >.</span
        >
        <span
          class="inline-block translate-y-[2px] rotate-[-2deg] text-purple-500"
          >.</span
        >
      </h2>
    </div>

    <div class="h-[50vh]"></div>

    <div class="computer z-[1]">
      <img src="/kamali/kamali-1.jpg" alt="Kamali 1" />
    </div>
    <div class="computer z-[2]">
      <img src="/kamali/kamali-2.jpeg" alt="Kamali 2" />
    </div>
    <div class="computer z-[3]">
      <img src="/kamali/kamali-3.jpg" alt="Kamali 3" />
    </div>
    <div class="computer z-[4]">
      <img src="/kamali/kamali-4.jpeg" alt="Kamali 4" />
    </div>
    <div class="computer z-[5]">
      <img src="/kamali/kamali-5.jpeg" alt="Kamali 5" />
    </div>
    <div class="computer z-[6]">
      <img src="/kamali/kamali-6.jpeg" alt="Kamali 6" />
    </div>
    <div class="computer z-[7]">
      <img src="/kamali/kamali-7.jpeg" alt="Kamali 7" />
    </div>
    <div class="computer z-[8]">
      <img src="/kamali/kamali-8.jpeg" alt="Kamali 8" />
    </div>
    <div class="computer z-[9]">
      <img src="/kamali/kamali-9.jpeg" alt="Kamali 9" />
    </div>

    <div
      class="post-computer z-[10] bg-gradient-to-b from-purple-400/0 via-purple-400/40 to-purple-400/50"
    >
      <img
        src="/kamali/kamali-found.jpg"
        alt="Kamali found"
        class="w-auto h-auto shadow-antimetal-lg rounded-xl border-8 border-white"
      />
    </div>

    <div
      class="w-screen h-screen flex flex-col items-center justify-center sticky top-0 z-[11]"
    >
      <h2
        class="font-rubik text-center text-2xl my-8 rounded-[100%] shadow-[0_0_15px_40px_rgba(255,255,255,0.99)] bg-white"
      >
        <span class="inline-block translate-y-[2px] rotate-[1deg] text-rose-500"
          >a</span
        >
        <span class="inline-block translate-x-[1px] text-amber-500"> </span>
        <span
          class="inline-block -translate-x-[1px] rotate-[-1deg] text-sky-500"
          >f</span
        >
        <span class="inline-block translate-y-[1px] text-violet-500">o</span>
        <span
          class="inline-block -translate-y-[1px] rotate-[2deg] text-slate-500"
          >n</span
        >
        <span
          class="inline-block translate-x-[2px] rotate-[-2deg] text-stone-500"
          >c</span
        >
        <span class="inline-block translate-y-[2px] text-red-500">t</span>
        <span
          class="inline-block -translate-x-[1px] rotate-[1deg] text-blue-500"
          >i</span
        >
        <span
          class="inline-block translate-y-[1px] rotate-[-1deg] text-green-500"
          >o</span
        >
        <span class="inline-block -translate-y-[2px] text-yellow-500">n</span>
        <span
          class="inline-block translate-x-[1px] rotate-[2deg] text-purple-500"
          >n</span
        >
        <span
          class="inline-block translate-y-[2px] rotate-[-2deg] text-pink-500"
          >é</span
        >
        <span class="inline-block translate-x-[1px] text-fuchsia-500"> </span>
        <span class="inline-block translate-y-[1px] rotate-[1deg] text-red-500"
          >l</span
        >
        <span
          class="inline-block -translate-y-[2px] rotate-[-1deg] text-blue-500"
          >a</span
        >
        <span class="inline-block translate-x-[1px] text-green-500"> </span>
        <span
          class="inline-block translate-y-[2px] rotate-[2deg] text-yellow-500"
          >r</span
        >
        <span
          class="inline-block -translate-x-[1px] rotate-[-2deg] text-purple-500"
          >e</span
        >
        <span class="inline-block translate-y-[1px] text-pink-500">c</span>
        <span
          class="inline-block -translate-y-[1px] rotate-[1deg] text-indigo-500"
          >h</span
        >
        <span class="inline-block translate-x-[2px] text-orange-500">e</span>
        <span
          class="inline-block translate-y-[2px] rotate-[-1deg] text-teal-500"
          >r</span
        >
        <span
          class="inline-block -translate-x-[1px] rotate-[2deg] text-cyan-500"
          >c</span
        >
        <span class="inline-block translate-y-[1px] text-lime-500">h</span>
        <span
          class="inline-block -translate-y-[2px] rotate-[-2deg] text-emerald-500"
          >e</span
        >
        <span class="inline-block -translate-x-[1px] text-indigo-500">!</span>
      </h2>
    </div>

    <div class="h-[30vh]"></div>

    <div class="post-computer z-[11]">
      <img
        src="/kamali/kamali-email.png"
        alt="Kamali email"
        class="w-auto h-auto max-w-full max-h-full"
      />
    </div>

    <div class="h-[50vh]"></div>

    <div
      class="h-screen relative z-[12] bg-gradient-to-b from-white/0 to-white/100"
    >
    </div>

    <div class="h-[50vh] relative z-[12] bg-white"></div>

    <img
      src="/kamali/ement j'axiste 6.jpg"
      alt="Ement J'axiste 6"
      class="w-full h-auto relative z-[12]"
    />

    <div
      class="h-[50vh] bg-white z-[12] relative flex items-center justify-center"
    >
      <h2 class="font-rubik text-2xl">
        <span
          class="inline-block translate-y-[1px] rotate-[1deg] text-green-500"
          >.</span
        >
        <span
          class="inline-block -translate-y-[2px] rotate-[-1deg] text-orange-500"
          >.</span
        >
        <span
          class="inline-block translate-y-[2px] rotate-[2deg] text-fuchsia-500"
          >.</span
        >
      </h2>
    </div>

    <div
      class="h-[50vh] bg-white z-[12] relative flex items-center justify-center"
    >
      <h2 class="font-rubik text-2xl">
        <span class="inline-block translate-y-[1px] rotate-[1deg] text-red-500"
          >c</span
        >
        <span
          class="inline-block -translate-y-[2px] rotate-[-1deg] text-blue-500"
          >'</span
        >
        <span
          class="inline-block translate-y-[2px] rotate-[2deg] text-yellow-500"
          >e</span
        >
        <span
          class="inline-block -translate-x-[1px] rotate-[-2deg] text-purple-500"
          >s</span
        >
        <span
          class="inline-block -translate-y-[1px] rotate-[1deg] text-indigo-500"
          >t</span
        >
        <span class="inline-block translate-x-[2px] text-orange-500"> </span>
        <span
          class="inline-block translate-y-[2px] rotate-[-1deg] text-teal-500"
          >t</span
        >
        <span
          class="inline-block -translate-x-[1px] rotate-[2deg] text-cyan-500"
          >o</span
        >
        <span class="inline-block translate-y-[1px] text-lime-500">u</span>
        <span
          class="inline-block -translate-y-[2px] rotate-[-2deg] text-emerald-500"
          >t</span
        >
        <span class="inline-block translate-x-[1px] text-fuchsia-500"> </span>
        <span
          class="inline-block translate-y-[2px] rotate-[1deg] text-fuchsia-500"
          >!</span
        >
      </h2>
    </div>
  </body>
</html>

<style>
  img {
    @apply inline-block;
  }
  .computer,
  .post-computer {
    @apply w-screen h-screen p-6 md:p-12 flex items-center justify-center sticky top-0;
  }
  .computer img {
    @apply rounded md:rounded-xl shadow-antimetal-lg max-w-full max-h-full h-auto w-auto;
  }
</style>
