---
export interface Props {
  name: string
  start: number
  url?: string | null
  img?: string
  end?: number | string | null
}

const { name, url = null, img, start, end = null } = Astro.props
---

<div class="relative">
  <div class="flex items-center justify-between mb-1">
    <h4
      class={`font-semibold ${url ? 'underline hover:no-underline' : ''} text-gray-700 dark:text-white`}
    >
      {
        url ? (
          <a href={url} class="link">
            {name}
          </a>
        ) : (
          name
        )
      }
    </h4>
    <p class="font-mono text-sm">{start}{end ? `—${end}` : ''}</p>
  </div>

  <p><slot /></p>
</div>
